
html, body, #container {
	margin: 0;
}

#container {
	background-color: #C8C8C8;
	padding-top: 200px;
	height: 800px;
	overflow: hidden;
}

.bird {
		background-image: url("../img/bird.png");
		background-position: 0px 0px;
		width: 42px;
		height: 57px;
		position: absolute;
		right: 0;
		border:0;
}

.forest_row {
	  white-space: nowrap;
    font-size: 0;
}

.forest {
	display: inline-block;
	margin-left: -20px;
	width: 300px;
	height: 300px;
	background-repeat: no-repeat; 	
	background-size: cover;
}

.forest_0 {
	background-image: url("../img/forest_0.png");
}

.forest_1 {
	background-image: url("../img/forest_1.png");
}

.forest_2 {
	background-image: url("../img/forest_2.png");
}

.forest_3 {
	background-image: url("../img/forest_3.png");
}

.forest_4 {
	background-image: url("../img/forest_4.png");
}

.forest_5 {
	background-image: url("../img/forest_5.png");
}

